<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/icon/favicon.ico" >
<script data-ad-client="ca-pub-8218831372642695" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YZJ2M0T2YC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YZJ2M0T2YC');
</script>